.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

:root {
  --text: #5362F6; /* Blue */
  --shadow: #000; /* Pink */
}

.header {
  font-size: 200%;
  text-decoration-line: none;
  text-shadow:
    -3.5px 3.5px    var(--shadow),
    -3.25px 3.25px  var(--shadow),
    -3px 3px        var(--shadow),
    -2.75px 2.75px  var(--shadow),
    -2.5px 2.5px    var(--shadow),
    -2.25px 2.25px  var(--shadow),
    -2px 2px        var(--shadow),
    -1.75px 1.75px  var(--shadow),
    -1.5px 1.5px    var(--shadow),
    -1.25px 1.25px  var(--shadow),
    -1px 1px        var(--shadow),
    -0.75px 0.75px  var(--shadow),
    -0.5px 0.5px    var(--shadow),
    -0.25px 0.25px  var(--shadow);
  color: #DAF792;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 250ms;
  transition-property: text-shadow, transform;
}


.header:hover {
  transform: translate(1.5px, -1.5px);
  text-shadow:
    -6.5px 6.5px    var(--shadow), 
    -6.25px 6.25px  var(--shadow),
    -6px 6px        var(--shadow), 
    -5.75px 5.75px  var(--shadow), 
    -5.5px 5.5px    var(--shadow), 
    -5.25px 5.25px  var(--shadow),
    -5px 5px        var(--shadow), 
    -4.75px 4.75px  var(--shadow), 
    -4.5px 4.5px    var(--shadow), 
    -4.25px 4.25px  var(--shadow),
    -4px 4px        var(--shadow),
    -3.75px 3.75px  var(--shadow),
    -3.5px 3.5px    var(--shadow),
    -3.25px 3.25px  var(--shadow),
    -3px 3px        var(--shadow),
    -2.75px 2.75px  var(--shadow),
    -2.5px 2.5px    var(--shadow),
    -2.25px 2.25px  var(--shadow),
    -2px 2px        var(--shadow),
    -1.75px 1.75px  var(--shadow),
    -1.5px 1.5px    var(--shadow),
    -1.25px 1.25px  var(--shadow),
    -1px 1px        var(--shadow),
    -0.75px 0.75px  var(--shadow),
    -0.5px 0.5px    var(--shadow),
    -0.25px 0.25px  var(--shadow);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.parallax_image {
  position: relative;
  top: 15%;
  left: -15%;
  width: 70%;
  height: 70%;
  z-index: 1;
}

.parallax_image2 {
  position: absolute;
  top: 40%;
  width: 70%;
  height: 70%;
  z-index: 1;
}

.parallax_banner {
  position: absolute;
  height: 30vh;
}

.root {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  position: relative;
  width: 25em;
}

.frontpage-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
